@media only screen and (max-width: 640px) {
  .aling-contenedor {
    display: inline-block;
    margin-right: 2%;
    text-align: left;

  }
}

.ui-inputswitch-onlabel {
  background-color: red !important;
}

.lbl-busquedad {
  vertical-align: top;
}

.ui-multiselect {
  width: 100% !important;
}

.aling-contenedor {
  display: inherit;
  margin-right: 2%;
}

.lbl-busqueda {
  margin-right: 2% !important;
}


