<div class="ui-g ui-fluid">
  
  <div class="ui-md-4 ui-sm-12 aling-contenedor text-center">
      <label class="lbl-busqueda">Sugerencias</label>
    <p-inputSwitch [(ngModel)]="sugerencias" onLabel="Activadas" offLabel="Desactivadas"></p-inputSwitch>
  </div>

  <div class="ui-md-4 ui-sm-12 aling-contenedor text-center">
    <label class="lbl-busqueda" for="">Áreas </label>
    <p-multiSelect class="btn-term" [options]="areasItem" [(ngModel)]="areasSelect"></p-multiSelect>
  </div>
 
  <div class="ui-md-3 ui-sm-12 aling-contenedor text-center ">
    <label class="lbl-busqueda" for="groupname">Palabras</label>
    <p-radioButton name="groupname" value="1" label="1" [(ngModel)]="numeroPalabrasBuscar"></p-radioButton>
    <p-radioButton name="groupname" value="2" label="2" [(ngModel)]="numeroPalabrasBuscar"></p-radioButton>
  </div>

</div>

<!-- campos historia clinica -->

<app-historia-clinica-alta-anamnesis></app-historia-clinica-alta-anamnesis>

<app-historia-clinica-alta-diagnostico></app-historia-clinica-alta-diagnostico>

<app-historia-clinica-alta-tratamiento></app-historia-clinica-alta-tratamiento>

<div class="ui-g-6 ui-md-5 ui-sm-5  ui-md-offset-4 text-center">
  <button pButton type="button" class="ui-button-success" label="Guardar" (click)="guardarHistoria($event)"> </button>
</div>
