<h2>Login</h2>

<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

    <div class="form-group row justify-content-center" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <div class="col-md-4">
            <label for="username">Username</label>
            <input type="text" pInputText class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required
            />
            <small *ngIf="f.submitted && !username.valid" class="help-block">Username obligatorio</small>
        </div>
    </div>
   
    <hr/>
    <div class="form-group row justify-content-center" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <div class="col-md-4">
            <label for="password">Password</label>
            <input type="password" pInputText class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required
            />
            <small *ngIf="f.submitted && !password.valid" class="help-block">Password obligatorio</small>
        </div>
    </div>
    <hr/>
    <div class="form-group">
        <button [disabled]="loading" pButton class="btn btn-primary" label="Iniciar Sesión"></button>
    </div>
    <hr/>
    <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    
</form>
<style>
    ol {
        margin:0 0 1.5em;
        padding:0;
        counter-reset:item;
    }
    
    ol>li {
        margin:0;
        padding:0 0 0 2em;
        text-indent:-2em;
        list-style-type:none;
        counter-increment:item;
    }
    
    ol>li:before {
        display:inline-block;
        width:1.5em;
        padding-right:0.5em;
        font-weight:bold;
        text-align:right;
        content:counter(item) ".";
    }
</style>
<div class="alert alert-info">
    <b>Bienvenid@</b>
    <hr/>
    <p class="justify-content-center">
        Gracias por acceder a probar nuestra web. Esta web es parte de un trabajo fin de máster, 
        que tiene por objetivo un estudio de investigación de la usabilidad de la web semantica en aplicaciones que gestionen
        Historias Clínicas. 
    </p>
       <div class="text-left">
        <b>A continuación una breve guía de prueba: </b>
        <ol class="list-group">
            <li>Registrar un usuario e iniciar sesión. 
                    <br/> Para registrarse seleccionar el enlace Registrar o directamente acceder a <a href="http://18.188.197.91:4200/register" target="_blank">`http://18.188.197.91:4200/register`</a>
                    <br/> Para iniciar sesión, seleccione el enlace Inicio o directamente acceder a <a href="http://18.188.197.91:4200/login" target="_blank">`http://18.188.197.91:4200/login`</a>
            </li>
            <li>Después de iniciar sesión, se muestran al inicio una lista de pacientes. 
                    <br/> Seleccionar el icono de lupa de un paciente de la lista para entrar al detalle.</li>
            <li>
                Completar una historia clínica con Anamnesis, Diagnóstico y Tratamiento que podría tener cualquier paciente.
                Al ir escribiendo en los campos, se cargarán encima etiquetas que son sugerencias de términos médicos extraídos
                de SNOMED CT, se deben seleccionar los términos que coinciden con lo que se desea escribir.
                Al seleccionar la etiqueta, la Historia Clinica se guarda con información extra e inequívoca del término.
            </li>
            <li >
                Al finalizar la historia clínica, seleccionar el botón Guardar.
            </li>
            <li >
                Explorar las diferentes opciones que muestra la web. 
            </li>
        </ol>
        Por favor, antes de salir de la web, completar una breve encuesta en
        <a href="https://goo.gl/forms/lr3xXoA2vLT9Zh3D2" target="_blank">`Formulario de Google`</a>
    </div>
</div>