<div class="ui-g text-left">
  <div class="ui-g-2  ui-md-6 ui-sm-12">
    <p-checkbox name="groupname" value="diabetes" [(ngModel)]="selectedValuesAntecedentes"[disabled]=true label="Diabetes"></p-checkbox>
  </div>
  <div class="ui-g-2 ui-md-6 ui-sm-12">
    <p-checkbox name="groupname" value="hipertension" [(ngModel)]="selectedValuesAntecedentes" [disabled]=true label="Hipertensión"></p-checkbox>
  </div>
  <div class="ui-g-2 ui-md-6 ui-sm-12">
    <p-checkbox name="groupname" value="Cardiopatia" [(ngModel)]="selectedValuesAntecedentes" [disabled]=true label="Cardiopatía"></p-checkbox>
  </div>
  <div class="ui-g-2 ui-md-6 ui-sm-12">
    <p-checkbox name="groupname" value="enfmentales" [(ngModel)]="selectedValuesAntecedentes" [disabled]=true label="Enf. Mentales"></p-checkbox>
  </div>
  <div class="ui-g-2 ui-md-6 ui-sm-12">
    <p-checkbox name="groupname" value="enfalergicas" [(ngModel)]="selectedValuesAntecedentes"binary="true" [disabled]=true  label="Enf. Alérgicas"></p-checkbox>
  </div>
  <div class="ui-g-2 ui-md-6 ui-sm-12">
    <p-checkbox name="groupname" value="enfendocrinas" [(ngModel)]="selectedValuesAntecedentes"[disabled]=true  label="Enf. Endódrinas"></p-checkbox>
  </div>

  <div class="ui-g-2 ui-md-6 ui-sm-12">
    <p-checkbox name="groupname" value="asma" [(ngModel)]="selectedValuesAntecedentes" binary="true" [disabled]=true label="Asma"></p-checkbox>
 </div>
  <div class="ui-g-2 ui-md-6 ui-sm-12">
    <p-checkbox name="groupname" value="cancer" [(ngModel)]="selectedValuesAntecedentes" [disabled]=true label="Cancer"></p-checkbox>
  </div>
  <div class="ui-g-2 ui-md-6 ui-sm-12">
    <p-checkbox name="groupname" value="otros" [(ngModel)]="selectedValuesAntecedentes" [disabled]=true label="Otros"></p-checkbox>
    <input type="text" pInputText readonly placeholder="Especificar Otros" [disabled]=true />
  </div>
</div>