<p-panel header="Paciente {{paciente.nss}}" [toggleable]="true">
    <div class="ui-g text-left">
      <div class="ui-g-2">
        <img src="assets/img/{{paciente.urlImage}}" class="img-fluid img-thumbnail mx-auto d-block" style="vertical-align: top;" />
      </div>
      <div class="ui-g-10">
        <div class="ui-g-12">
          <span>
            <b>Nº de identificación:</b> {{paciente.nss}}</span>
        </div>

        <div class="ui-g-6">
          <span>
            <b>Nombre: </b> {{paciente.name}} </span>
        </div>
        <div class="ui-g-6">
          <span>
            <b> Apellidos: </b> {{paciente.surname}}</span>
        </div>
        <div class="ui-g-6">
          <span>
            <b> Género: </b> - </span>
        </div>
        <div class="ui-g-6">
          <span>
            <b> Edad: </b> {{paciente.age}} </span>
        </div>
      </div>
    </div>
  </p-panel>
