﻿<hr/>
<div>
  <h1>Servicio Médico</h1>
  <app-datos-paciente-directiva [paciente]='paciente'></app-datos-paciente-directiva>
</div>
<hr/>
<div>
	<button (click)="altaHistoriaClinica($event)" pButton type="button" class="ui-button-success" icon="fa fas fa-plus-square fa-1x"
            iconPos="left" label="Crear Historia Clinica"> </button>
</div>
<hr/>
<p-tabView [activeIndex]="indexTab">

  <p-tabPanel header="Datos Generales" [selected]="tabDatosSelect">
    <p-panel header="">
      <app-datos-generales-directiva></app-datos-generales-directiva>
    </p-panel>
  </p-tabPanel>

  <p-tabPanel header="Antecedentes" [selected]="tabAntecedentesSelect">
    <p-panel header="Heredado">
      <app-ant-heredados [selectedValuesAntecedentes]='selectedValuesAntecedentes'></app-ant-heredados>
    </p-panel>
    <hr/>

    <p-panel header="Personales Patológicos">
      <div class="ui-g text-left">
        <div class="ui-g-6 ui-sm-12">
          <p-checkbox name="groupname" value="adicciones" [(ngModel)]="selectedValuesAntecedentes" [disabled]=true label="Adicciones"></p-checkbox>
        </div>
        <div class="ui-g-6 ui-sm-12">
          <p-checkbox name="groupname" value="transfuncionales" [(ngModel)]="selectedValuesAntecedentes" binary="true" [disabled]=true
            label="Transfuncionales"></p-checkbox>
        </div>
      </div>
    </p-panel>
    <hr/>
    <p-panel header="Personales No Patológicos">
      <app-ant-no-patologicos [selectedValuesAntecedentes]='selectedValuesAntecedentes'></app-ant-no-patologicos>
    </p-panel>
  </p-tabPanel>


  <p-tabPanel header="Historias Clínicas" [selected]="tabHistoriaSelect">
    <div class="ui-g text-left ui-g-12 ui-sm-12">

      <!-- Formulario alta historia clinica -->
      <div [hidden]="!showHistoriaClinicaAlta" class="ui-g-12 ui-sm-12">
        <app-historia-clinica-alta></app-historia-clinica-alta>
      </div>


      <div [hidden]="showHistoriaClinicaAlta" class="ui-g-12 ui-sm-12">

        
        <hr/>
        <div *ngIf="historiasClinicas.length === 0" class="alert alert-info"role="alert">
            <strong>Aviso:</strong> No hay listado de historias clínicas que mostrar del paciente {{paciente.nss}}.
        </div>

        <!-- Tabla listado de reportes paciente -->
<div [hidden]="reportes.length === 0">

        <p-table [columns]="colsReportesDetalle" [value]="reportes" dataKey="vin">
                <ng-template pTemplate="caption">
                    Lista de Reportes Clínicos
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 4em"></th>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                    <tr>
                        <td>
                            <a href="#" [pRowToggler]="rowData">
                                <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i> Ver
                            </a>
                        </td>
                    
                        <td *ngFor="let col of columns">
                            {{ rowData[col.field] | date: 'dd/MM/yyyy - HH:mm' }}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                    <tr>
                        <td [attr.colspan]="columns.length + 1">
                            <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                                <div class="ui-g-12 ui-md-9">
                                    <div class="ui-g">
                                        <div class="ui-g-12">
                                            <b>Ananmesis: </b> 
                                            {{rowData.anamnesis}}
                                       
                                        </div>
                                        <div class="ui-g-12">
                                            <b>Diagnostico: </b>
                                            {{rowData.diagnostico}}
                                        </div>
                                        <div class="ui-g-12">
                                            <b>Tratamiento: </b>
                                            {{rowData.tratamiento}}
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
          
    </div>

    <br>
    <!-- Tabla listado de historias clinicas del paciente -->
    <div [hidden]="historiasClinicas.length === 0">
        <p-table [columns]="colsHistoriasDetalle" [value]="historiasClinicas" dataKey="vin">
            <ng-template pTemplate="caption">
                Lista de Historias Clínicas Paciente
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 4em"></th>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                <tr>
                    <td>
                        <a href="#" [pRowToggler]="rowData">
                            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i> Ver
                        </a>
                    </td>
                
                    <td *ngFor="let col of columns">
                        {{rowData[col.field] }}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                <tr>
                    <td [attr.colspan]="columns.length + 1">
                        <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                            <div class="ui-g-12 ui-md-9">
                                <div class="ui-g">
                                    <div class="ui-g-12">
                                        <b>Ananmesis: </b> 
                                        
                                        <p-scrollPanel [style]="{width: '100%', height: '130px'}">
                                            <p-table [value]="rowData.result[0].observation.context.encounter.diagnosis">
                                                <ng-template pTemplate="body" let-term>
                                                    <tr>
                                                    <td>
                                                            <a href="{{term.condition.snomed_term.id}}" target="_blank">{{term.condition.snomed_term.id}}</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    <td>
                                                            {{term.condition.snomed_term.prefLabel}}
                                                    </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                            </p-scrollPanel>
                                    </div>
                                    <div class="ui-g-12">
                                        <b>Diagnostico: </b>
                                        
                                        <p-scrollPanel [style]="{width: '100%', height: '130px'}">
                                        <p-table [value]="rowData.result[1].observation.context.encounter.diagnosis">
                                            
                                            <ng-template pTemplate="body" let-term>
                                                <tr>
                                                    <td>
                                                        <a href="{{term.condition.snomed_term.id}}" target="_blank">{{term.condition.snomed_term.id}}</a>
                                                    </td>
                                                    </tr>
                                                    <tr>
                                                    <td>
                                                        {{term.condition.snomed_term.prefLabel}}
                                                    </td>
                                                    </tr>
                                            </ng-template>
                                        </p-table>
                                        </p-scrollPanel>
                                    </div>
                                    <div class="ui-g-12">
                                        <b>Tratamiento: </b>
                                        <p-scrollPanel [style]="{width: '100%', height: '130px'}">
                                        <p-table [value]="rowData.result[2].observation.context.encounter.diagnosis">
                                            
                                            <ng-template pTemplate="body" let-term>
                                                <tr>
                                                    <td>
                                                        <a href="{{term.condition.snomed_term.id}}" target="_blank">{{term.condition.snomed_term.id}}</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        {{term.condition.snomed_term.prefLabel}}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        </p-scrollPanel>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>


</div>
</div>
</p-tabPanel>

 
</p-tabView>

<p-dialog header="Title" [(visible)]="displayHistoria">
   
        <p-header>
            Header content here
        </p-header>
        <p-table [columns]="colsHistoriasDetalle" [value]="historiasDetalle" dataKey="vin">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 3em"></th>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                <tr>
                    <td>
                        <a href="#" [pRowToggler]="rowData">
                            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                        </a>
                    </td>
                    <td *ngFor="let col of columns">
                        {{rowData[col.field] | dateWithLocale: 'es-ES' : 'short'}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                <tr>
                    <td [attr.colspan]="columns.length + 1">
                        <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                            <div class="ui-g-12 ui-md-9">
                                <div class="ui-g">
                                    <div class="ui-g-12">
                                        <b>Ananmesis: </b> 
                                        <span class="badge badge-secondary" [hidden]="!rowData.result[0]">
                                            No contiene información
                                          </span>
                                        <p-table [value]="rowData.result[0].observation.context.encounter.diagnosis">
                                            <ng-template pTemplate="header">
                                                <th *ngFor="let col of rowData.result[0].observation.context.encounter.diagnosis">
                                                    Termino
                                                </th>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-term>
                                                <tr>
                                                    <td>
                                                        <p-fieldset legend="{{term.condition.snomed_term.prefLabel}}">
                                                            <a href="{{term.condition.snomed_term.id}}" target="_blank">{{term.condition.snomed_term.id}}</a>
                                                        </p-fieldset>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                    <div class="ui-g-12">
                                        <b>Diagnostico: </b>
                                        <span class="badge badge-secondary" [hidden]="!rowData.result[1]">
                                            No contiene información
                                          </span>
                                        <p-table [value]="rowData.result[1].observation.context.encounter.diagnosis">
                                            <ng-template pTemplate="header">
                                                <th *ngFor="let col of rowData.result[1].observation.context.encounter.diagnosis">
                                                    Termino
                                                </th>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-term>
                                                <tr>
                                                    <td>
                                                      {{term.condition.snomed_term.id}}
                                                      {{term.condition.snomed_term.prefLabel}}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                    <div class="ui-g-12">
                                        <b>Tratamiento: </b>
                                        <span class="badge badge-secondary" [hidden]="!rowData.result[2]">
                                          No contiene información
                                        </span>
                                        <p-table [value]="rowData.result[2].observation.context.encounter.diagnosis">
                                            <ng-template pTemplate="header">
                                                <th *ngFor="let col of rowData.result[2].observation.context.encounter.diagnosis">
                                                    Termino
                                                </th>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-term>
                                                <tr>
                                                    <td>
                                                      {{term.condition.snomed_term.id}}
                                                      {{term.condition.snomed_term.prefLabel}}
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        
        <p-footer>
            
        </p-footer>
    
</p-dialog>

