<div class="ui-g text-left">
  <div class="ui-g-6 ui-sm-12">
    <p-checkbox name="groupname" value="tabaquismo" [(ngModel)]="selectedValuesAntecedentes" binary="true" [disabled]=true label="Tabaquismo"></p-checkbox>      
  </div>
  <div class="ui-g-6 ui-sm-12">
    <p-checkbox name="groupname" value="alcoholismo" [(ngModel)]="selectedValuesAntecedentes"  [disabled]=true
      label="Alcoholismo"></p-checkbox>
  </div>
</div>