﻿<div class="ui-g-12 ui-md-12 ui-sm-12">
  <b>Diagnóstico</b>
  <div class="todo-el-ancho">
    <div class="ui-inputgroup" *ngIf="mostrarSugerenciasDiagnostico">
      <button pButton type="button" icon="fa fas fa-chevron-left" (click)="moveToPreviousDiagnostico()"></button>
      <div *ngFor="let result of arrayResultadosMostrarDiagnostico" class="todo-el-ancho">
        <button pButton type="button" class="ui-button-secondary btn-term" label="{{result.term}}" (click)="selectItemDiagnostico(result)"></button>
      </div>
      <button pButton type="button" icon="fa fas fa-chevron-right" (click)="moveToNextDiagnostico()"></button>
    </div>
  </div>
  <hr/>
  <textarea [rows]="4" id="textDiagnostico" name="textDiagnostico" pInputTextarea style="resize: none;" placeholder="Introduzca el Diagnostico evaluado..."
    class="text-area-eval todo-el-ancho"></textarea>
</div>
