<div class="ui-g-12 ui-md-12 ui-sm-12">
  <b>Anamnesis</b>
  <div class="todo-el-ancho">
    <div class="ui-inputgroup" *ngIf="mostrarSugerenciasAnamnesis">
      <button pButton type="button" icon="fa fas fa-chevron-left" (click)="moveToPreviousAnamnesis()"></button>
      <div *ngFor="let result of arrayResultadosMostrarAnamnesis" class="todo-el-ancho">
        <button pButton type="button" class="ui-button-secondary btn-term" label="{{result.term}}" 
          (click)="selectItemAnamnesis(result)"></button>
      </div>
      <button pButton type="button" icon="fa fas fa-chevron-right" (click)="moveToNextAnamnesis()"></button>
    </div>
  </div>
  <hr/>
  <textarea [rows]="4" id="textAnamnesis" name="textAnamnesis" pInputTextarea style="resize: none;" placeholder="Introduzca el Anamnesis evaluado..."
    class="text-area-eval todo-el-ancho"></textarea>
</div>
