<div class="ui-g-12 ui-md-12 ui-sm-12">
    <b>Tratamiento</b>
    <div class="todo-el-ancho">
      <div class="ui-inputgroup" *ngIf="mostrarSugerenciasTratamiento">
        <button pButton type="button" icon="fa fas fa-chevron-left" (click)="moveToPreviousTratamiento()"></button>
        <div *ngFor="let result of arrayResultadosMostrarTratamiento" class="todo-el-ancho">
          <button pButton type="button" class="ui-button-secondary btn-term" label="{{result.term}}" (click)="selectItemTratamiento(result)"></button>
        </div>
        <button pButton type="button" icon="fa fas fa-chevron-right" (click)="moveToNextTratamiento()"></button>
      </div>
    </div>
    <hr/>
    <textarea [rows]="4" id="textTratamiento" name="textTratamiento" pInputTextarea style="resize: none;" placeholder="Introduzca el Tratamiento evaluado..."
      class="text-area-eval todo-el-ancho"></textarea>
  </div>