/* You can add global styles to this file, and also import other style files */

.main-content {
  text-align: center;
}

hr {
  height: 8;
  visibility: hidden;
}

label {
  margin: 0px auto !important;
  vertical-align: middle;
}

.todo-el-ancho{
  width: 100% ;
}

.btn-term {
  height: 100%;
  width: 100%;
}


@media only screen and (max-width: 640px) {
  .ui-state-default.ui-corner-top.ng-star-inserted {
    width: 100%;
  }
 
}
