label{
    margin-left: 2%;
}
.btn-form{
    width: 20%;
}

.text-area-eval{
    resize: none;
}

.content{
    margin-top: 3%;
}

.tags{
    font-size: 130%;
    margin-top: 1%;
    margin-right: 1%;
    float: left;
    cursor:pointer;  
}

.box-tags{
  background: #F4F4F4; 
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10%;
   
}
.div-editable{
    display: inline-block;
    width: 100%;    
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 200px;
}

.div-editable:empty{
    display : block;
}

.placeholder{
    color: gray; 
}

