﻿<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"> {{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink]="['/']">Inicio
            <span class="sr-only">(current)</span>
          </a>
        </li>
	

      </ul>
      <ul class="nav navbar-nav">
        <li >
          <span class="navbar-text"  *ngIf="currentUser">
            Hola {{currentUser.firstName}}
          </span>
          <i class="fa fas fa-power-off fa-1x" aria-hidden="true" [routerLink]="['/login']" data-toggle="tooltip" data-placement="bottom" title="Cerrar Sesión"> </i>
	</li>
	
      </ul>
    </div>
  </nav>
</div>

<!-- main app container -->

<div class="container main-content">
 
<br/>
   <div class="alert alert-warning" role="alert">
   <a class="nav-link" style="color:red; text-decoration: underline; font-size: 1.2em" href="https://goo.gl/forms/lr3xXoA2vLT9Zh3D2" target="_blank">
	Formulario de Encuesta
   </a>
   </div>
      
  <alert></alert>
  <router-outlet></router-outlet>

</div>
<hr/>