<div class="col-md-12 col-md-offset-3 col-sm-offset-1">

    <h1>Identificación y búsqueda de pacientes</h1>

    <hr/>
    <div class="row">
        <div class="col-md-12" style="background-color: bisque">
            <hr/>
            <form (ngSubmit)="f.form.valid && findPacientes()" #f="ngForm" novalidate>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label" for="nss">N. Seg. Social</label>
                            <input type="text" pInputText class="form-control" name="nss" placeholder="Introduzca N. Seg. Social"
                                [(ngModel)]="model.nss" #nss="ngModel" >
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label" for="name">Nombre</label>
                            <input type="text" pInputText class="form-control" name="name" placeholder="Introduzca Nombre"
                            [(ngModel)]="model.name" #name="ngModel">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label" for="apellido1">Apellido</label>
                            <input type="text" pInputText class="form-control" name="apellido1" placeholder="Introduzca Apellido"
                            [(ngModel)]="model.apellido1" #apellido1="ngModel">
                        </div>
                    </div>   
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit"  class="btn btn-primary">
                            Buscar paciente</button>
                    </div>
                </div>
            </form>
        <hr/>
        </div>
    </div>
    <hr/>
    <div *ngIf="pacientes">


    <p-table [columns]="cols" [value]="pacientes" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header" let-columns>
            <tr>
              
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>

                <td *ngFor="let col of columns">
                                <div [innerHTML]="rowData[col.field]"></div>
                </td>
               
               
            </tr>
        </ng-template>
    </p-table>

    
    </div>
</div>