<div class="ui-g text-left">
    <div class="ui-g-5">
      <span>
        <b>Dirección: </b> Calle Médanos, nº 4 piso 4-E </span>
    </div>
    <div class="ui-g-3">
      <span>
        <b>Provincia: </b> Asturias </span>
    </div>
    <div class="ui-g-3">
      <span>
        <b>Código Postal: </b> 33002 </span>
    </div>
    <div class="ui-g-5">
      <span>
        <b> Telefono: </b> 574 12 85 87 </span>
    </div>
    <div class="ui-g-3">
      <span>
        <b>Estado Civil: </b> SOLTERO</span>
    </div>
    
  </div>